---
import ItemCard from "../../components/ItemCard";
import Layout from "../../layouts/Layout.astro";

import { getAllItems } from "../../../Utils/callAPI";

const items = await getAllItems()
---

<Layout title="Storefront">
    <div class="mx-4 mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        {items.map((item) => {
            return <ItemCard id={item._id} imageAlt={item.imageAlt} imageSrc={item.imageUrl} href={`/items/${item._id}`} name={item.name} color={item.colors} price={item.price}/>
        })}
    </div>
</Layout>